@font-face {
    font-family: 'cyrillic_pixel-7';
    src: url('fonts/cyrillic_pixel-7-webfont.woff2') format('woff2'),
         url('fonts/cyrillic_pixel-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  scroll-behavior: smooth;
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: cyrillic_pixel-7;
}
footer{
  text-align: center;
}

/*Scroll Up Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%
}
#myBtn:hover {
  background-color: #555;
}

/*стилі меню*/
.navigation li a{
color: white;
}
.navbar{
  background-color: #0d1623;
}
.nav-link{
margin-right: 1em !important;
color: #f4f4f4;
}
.nav-link:hover{
background: #f4f4f4;
color: #0d1623;
}
.navbar-collapse{
justify-content: flex-end;
}
.navbar-toggler{
background:#fff !important;
}
.navbar-brand{
  color:white; 
  text-decoration:none;
}

/*шапка*/
.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url("../images/bg.png");
  display: table;
  top: 0;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.content h4
{
  margin-top: 40%;
  margin-bottom: 5%;
  color: white;
  top: 50%;
  text-shadow: 0 0 300px 400px #000;
  font-size: 300%;
}

.btn {
  border-radius: 9px;
  color:white;
  font-size: 135%;
  padding: 10px 20px;
  border: solid white;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover{
  color:#fff;
  border: solid #fff;
}

/*про студію*/
.studioAbout{
  text-align: center;
  width: 100%;
  margin: auto;
}

/*інфа персонал*/
#team{
  margin: auto;
}
.about{
padding: 1em;
position: relative;
margin: 1em; 
margin-left: 1em;
}
.about h1{
color:#0d1623;
margin: 2em;
}
.about p
{
    text-align: center;
}
.about div img {
  margin: 0 auto;
 height: 150px;
 width: 150px;
 border-radius:50%;
}
.about span{
display: block;
color: #888;
position: absolute;
left: 115px;
}
.about p
{
  margin: auto;
}
.desc{
margin-left: 5%;
padding: 2em;
border-left:4px solid #0d1623;
}
 .desc h3{
color: #0d1623;
}
.desc p{
line-height:2;
color:#0d1623;
}

/* Слайдер */
.carousel img{
  height: 100%;
}

/* Контактна форма */
.contact-form{
margin: 6em 0;
position: relative;
}
.contact-form h1{
padding:2em 1px;
color: #25282d;
}
.contact-form .right{
max-width: 600px;
}
.contact-form .right .btn-secondary{
background: #25282d;
color: #fff;
border:0;
}
.contact-form .right .form-control::placeholder{
color: #888;
font-size: 16px;
}

/*адаптивність для малих екранів*/
@media screen and (max-width: 768px)  {
  .intro{
    background-size: contain;
  }
  .content h4{
    margin-top: 30%;
    font-size: 150%;
  }
  .btn{
    font-size: 110%;
    padding: 7px 15px;
  }
  #myBtn {
    font-size: 5px;
    right: 2px;
    bottom: 3px;
    z-index: 33;
    padding: 6px;
  }

}